.slider-form {
  width: 50%;
  margin: 30px auto 0;
  border: 2px solid #a82bde;
  padding: 30px 15px;
  border-radius: 40px;
  box-shadow: 6px 6px 10px -3px #000;
}

.slider-form select {
  appearance: none;
  padding: 5px;
}

.slider-form input[type="submit"] {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.slider-form input[type="number"] {
  padding: 5px;
}

.slider-form .slider-form__input {
  display: block;
  width: 100%;
  text-transform: uppercase;
  font-size: 14px;
}

.slider-form .slider-form__input + * {
  margin-top: 15px;
}
