---
title: Home
---
<h2>Page Content Goes in the <code>src/templates/pages/</code> directory</h2>

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ea sunt iste enim illo dolore itaque repellat nobis numquam, nihil dignissimos, quis, quasi minima fugiat explicabo dolores aspernatur, magnam rerum!