<div class="slider-wrapper">
	<div class="slipnslidr">
	  <figure><img draggable="false" src="http://fillmurray.com/500/500" /></figure>
	  <figure><img draggable="false" src="http://fillmurray.com/500/400" /></figure>
	  <figure><img draggable="false" src="http://fillmurray.com/500/600" /></figure>
	  <figure><img draggable="false" src="http://fillmurray.com/500/450" /></figure>
	</div>
</div>

<form class="slider-form js-sliderForm" onsubmit="return false;">
	<div class="col col--1--sm col--2--md">
		<div>
			<select class="slider-form__input js-isInfinite">
				<option value="true">is infinite</option>
				<option value="false" selected>is not infinite</option>
			</select>
			<select class="slider-form__input js-hasDotNav">
				<option value="true">has dots</option>
				<option value="false">has no dots</option>
			</select>
			<select class="slider-form__input js-hasControls">
				<option value="true">has controls</option>
				<option value="false">has no controls</option>
			</select>
		</div>
		<div>
			<label class="slider-form__input" for="slide-padding">Space between slides (px)</label>
			<input id="slide-padding" class="slider-form__input js-slidePadding" type="number" value="10"/>
			<label class="slider-form__input" for="slides-per-page">Slides per page</label>
			<input id="slides-per-page" type="number" class="slider-form__input js-slidesPerPage" value="1" />
		</div>
	</div>
	<input type="submit" value="Update Slip'n Slider" />
</form>
